$tablet-width: 660px;
$desktop-width: 1200px;
$pink: #d22856;
$gray: #f2f2f2;
$section-init-color: white;
$section-main-color: $gray;
$font-main-color: black;
$font-init-color: white;
$font-accent-color: $pink;
$menu-init-color: black;
$menu-main-color: #283645;
$menu-border-top: #485461;
$menu-header-color: rgba(0, 0, 0, 0.3);
$header-color: #1d2631;
$table-header-color: #283645;
$form-border-color: #e5e5e5;
$button-main-color: #2aab6d;
$link-init-color: white;
$link-accent-color: $pink;
$link-disabled-color: #e3e4e4;
$upload-border-color: #dddfe0;
$body-backround-color: #939393;
$social-border-color: #e9ebec;
$accent-color: $pink;
