$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$gray: #f2f2f2;
$pink: #d22856;
$accent-color: $pink;
$body-backround-color: #939393;
$button-main-color: #2aab6d;
$button-hover-color: #1c9b5e;
$button-disabled-color: #e5e5e5;
$button-active-font: rgba(255, 255, 255, 0.3);
$filter-icon-color: #b5b9be;
$filter-icon-hover: #8d949b;
$filter-icon-active: $pink;
$font-main-color: black;
$font-initial-color: white;
$font-accent-color: $pink;
$form-border-color: #e5e5e5;
$form-input-hover: #283645;
$form-input-active: $pink;
$header-color: #1d2631;
$icon-yes-color: #3dc644;
$icon-no-color: #f25b26;
$link-initial-color: white;
$link-accent-color: $pink;
$link-download-active: #f2ced5;
$link-cancel-color: #dddfe0;
$link-cancel-font: rgba(0, 0, 0, 0.1);
$link-active-color: rgba(210, 40, 86, 0.3);
$link-cancel-hover: #b5b9be;
$link-cancel-font-hover: rgba(0, 0, 0, 0.3);
$link-cancel-active: #b5b9be;
$link-cancel-font-active: rgba(255, 255, 255, 0.3);
$link-upload-font-active: rgba(255, 255, 255, 0.3);
$logo-hover-color: $pink;
$logo-header-color: white;
$logo-footer-color: #283645;
$mail-link-hover: #283645;
$mail-link-active: #ced0d2;
$menu-initial-color: white;
$menu-hover-color: $pink;
$menu-active-color: rgba(210, 40, 86, 0.3);
$menu-main-color: #283645;
$menu-border-top: #485461;
$menu-border-bottom: black;
$menu-header-color: rgba(0, 0, 0, 0.3);
$popup-border-top: #fbfbfb;
$section-initial-color: white;
$section-main-color: $gray;
$slider-circle-color: #bec2c7;
$slider-circle-hover: #7e868f;
$slider-circle-active: #e9ebec;
$slider-border-color: #283645;
$slider-arrows-color: #caced1;
$slider-arrows-hover: #969da4;
$slider-arrows-active: #e9ebec;
$social-color: #e9ebec;
$social-hover-color: #283645;
$social-active-color: rgba(255, 255, 255, 0.7);
$table-header-color: #283645;
$table-border-color: #e5e5e5;
$upload-bar-color: black;
$upload-border-color: #dddfe0;
$upload-toggle-color: $pink;
