.advantages {
  padding-top: 40px;
}

.advantages__intro-question {
  margin: 0 auto;
  margin-bottom: 27px;
}

.advantages__intro-suggest {
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages__container {
  background: $section-main-color;
}

.advantages__list {
  position: relative;

  padding: 81px 20px 287px 20px;
  margin: 0;

  text-align: center;

  background-image: url("../img/iphone-screen-mobile@1x.png"), url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position-x: 83px, 0;
  background-position-y: 508px, 0;
  background-size: 157px auto, 320px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png"), url("../img/bg-triangle-white.svg");
  }

  list-style: none;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
}

.advantages__description {
  margin: 0;
}

.advantages__item {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 50px;
  }

  .advantages__intro-question {
    margin: 0 auto;
  }

  .advantages__intro-suggest {
    padding: 0 150px;
    margin-bottom: 47px;
  }

  .advantages__list {
    padding: 73px 20px 10px 330px;
    text-align: left;

    background-image: url("../img/iphone-screen-3-tablet@1x.png"), url("../img/bg-triangle-white.svg");
    background-position-x: 20px, 0;
    background-position-y: 3px, 0;
    background-size: 268px auto, $tablet-width auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png"), url("../img/bg-triangle-white.svg");
    }
  }

  .advantages__item:nth-child(1) {
    margin-bottom: 34px;
  }

  .advantages__item:nth-child(2) {
    margin-bottom: 35px;
  }

  .advantages__br {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 67px;

    font-size: 18px;
    line-height: 30px;
  }

  .advantages__intro-suggest {
    width: $desktop-width;
    padding: 0 260px;
    margin-bottom: 79px;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
  }

  .advantages__container {
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% auto;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;

    width: $desktop-width;
    padding: 0 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;

    background-image: none;

    box-sizing: border-box;
  }

  .advantages__item {
    width: 240px;
    padding-top: 355px;

    text-align: center;
  }

  .advantages__item:nth-child(1) {
    margin-left: 30px;

    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position-x: -25px;
    background-position-y: 0;
    background-size: 292px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
  }

  .advantages__item:nth-child(2) {
    margin-left: 80px;

    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position-x: -23px;
    background-position-y: 0;
    background-size: 292px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }

  .advantages__item:nth-child(3) {
    margin-left: 80px;

    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position-x: -23px;
    background-position-y: 0;
    background-size: 292px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }

  .advantages__title {
    font-size: 30px;
    margin-bottom: 23px;
  }
}
