.contacts__wrapper {
  padding: 20px;

  text-align: center;
}

.contacts__list {
  padding: 0;

  list-style: none;
}

.contacts__item {
  padding-bottom: 20px;
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
}

.contacts__value {
  display: block;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $font-accent-color;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .contacts__item:nth-child(2) {
    order: 3;
  }
  .contacts__item:nth-child(3) {
    order: 2;
  }
}
