.contacts {
  position: relative;
  z-index: 20;
}

.contacts__triangle {
  position: absolute;
  z-index: 30;
  width: 320px;
  height: 34px;
  bottom: 166px;
  left: 0;

  background-image: url("../img/bg-triangle-white-footer.svg");
  background-size: 320px auto;
  background-repeat: no-repeat;
}

.contacts__wrapper {
  padding: 42px 20px 40px 20px;

  text-align: center;
}

.contacts__intro {
  margin: 0;
  margin-bottom: 32px;
}

.contacts__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.contacts__item:nth-child(1) {
  margin-bottom: 21px;
}

.contacts__item:nth-child(2) {
  margin-bottom: 26px;
}

.contacts__text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}

.contacts__value {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $font-accent-color;
}

.contacts__item:nth-child(2) .contacts__value:hover {
  color: $mail-link-hover;
  text-decoration: underline;
}

.contacts__item:nth-child(2) .contacts__value:active {
  color: $mail-link-active;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts__triangle {
    width: $tablet-width;
    height: 68px;
    bottom: 305px;
    background-size: $tablet-width auto;
  }

  .contacts__wrapper {
    padding-top: 46px;
    padding-bottom: 5px;
  }

  .contacts__intro {
    margin-bottom: 21px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__text {
    margin-bottom: 6px;
  }

  .contacts__item {
    padding: 22px 0;
  }

  .contacts__item:nth-child(1) {
    margin: 0;
    margin-left: 47px;
  }

  .contacts__item:nth-child(2) {
    margin: 0;
    margin-left: 97px;
  }

  .contacts__item:nth-child(3) {
    margin: 0;
    margin-left: 205px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__triangle {
    width: 100%;
    height: 126px;
    bottom: 375px;
    background-size: 100% auto;
  }

  .contacts__wrapper {
    width: $desktop-width;
    padding: 64px 10px 0 10px;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
  }

  .contacts__intro {
    margin-bottom: 31px;
  }

  .contacts__item {
    padding-bottom: 20px;
  }

  .contacts__item:nth-child(1) {
    margin-left: 48px;
  }

  .contacts__item:nth-child(2) {
    order: 3;
    margin-left: 95px;
  }

  .contacts__item:nth-child(3) {
    order: 2;
    margin-left: 112px;
  }

  .contacts__text {
    margin-bottom: 20px;
  }
}
