.container {
  width: 320px;
  margin: 0 auto;

  background-color: $section-initial-color;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
