.container {
  width: 320px;
  margin: 0 auto;

  background-color: $section-initial-color;
}

.container__header {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 100%;
  }
}
