.download {
  padding: 28px 20px 30px 19px;

  box-sizing: border-box;
}

.download__title {
  display: none;
}

.download__button {
  width: 281px;
  margin-bottom: 30px;
}

.download__list {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 17px;
}

.download__text {
  margin: 0 auto;

  font-weight: 300;
  color: $font-initial-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download {
    padding-left: 20px;
    padding-right: 340px;
  }

  .download__title {
    display: block;
    width: 190px;
    padding: 0;
    margin: 0 auto 31px auto;
  }

  .download__button {
    width: 300px;
    margin-bottom: 45px;
  }

  .download__list {
    margin-bottom: 30px;
  }

  .download__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    padding-left: 130px;
    padding-right: 770px;
  }

  .download__title {
    width: 300px;
    margin-bottom: 52px;
  }

  .download__button {
    margin-bottom: 65px;
  }

  .download__list {
    margin-bottom: 50px;
  }
}
