.download {
  padding: 28px 20px 30px 19px;

  box-sizing: border-box;
}

.download__title {
  display: none;
}

.download__button {
  width: 281px;
  margin-bottom: 30px;

  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.download__button:hover {
  color: $link-accent-color;

  background-color: $link-initial-color;
}

.download__button:active {
  color: $link-download-active;

  background-color: $link-initial-color;
}

.download__list {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 17px;
}

.download__text {
  margin: 0 auto;

  font-weight: 300;
  color: $font-initial-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download {
    padding-left: 20px;
    padding-right: 340px;
    padding-bottom: 110px;
  }

  .download__title {
    display: block;
    width: 190px;
    padding: 0;
    margin: 0 auto 31px auto;
  }

  .download__button {
    width: 300px;
    margin-bottom: 45px;
  }

  .download__list {
    margin-bottom: 30px;
  }

  .download__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    width: $desktop-width;
    padding-left: 10px;
    padding-right: 650px;
    padding-bottom: 122px;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position-x: 27px;
    background-position-y: bottom;
    background-size: 1050px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }

    box-sizing: border-box;
  }

  .download__title {
    width: 300px;
    margin-bottom: 52px;
  }

  .download__button {
    margin-bottom: 65px;

    font-size: 21px;
    font-weight: 700;
    line-height: 18px;
  }

  .download__list {
    margin-bottom: 50px;
  }
}
