.link-button {
  display: block;
  padding-top: 14px;
  padding-bottom: 17px;

  color: $font-initial-color;
  text-align: center;

  border: 3px solid $link-initial-color;
  border-radius: 50px;
  box-sizing: border-box;
}
