.page-main__photo-preface {
  margin-top: 45px;
  margin-bottom: 49px;
  padding: 0 35px;
}

.page-main__upload-preface {
  margin-top: 40px;
  margin-bottom: 42px;
  padding: 0 30px;
}

.page-main__form-preface {
  margin-top: 45px;
  margin-bottom: 34px;
  padding: 0 20px;
}

.page-main__form-suggest {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-main__photo-preface {
    margin-top: 92px;
    margin-bottom: 76px;
    padding: 0 75px;

    font-size: 18px;
  }

  .page-main__upload-preface {
    margin-top: 45px;
    margin-bottom: 69px;
    padding: 0 30px;
  }

  .page-main__form-preface {
    margin-top: 92px;
    margin-bottom: 71px;
    padding: 0 75px;
  }

  .page-main__form-suggest {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .page-main__photo-preface {
    width: $desktop-width;
    margin-top: 92px;
    margin-bottom: 88px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 180px;

    font-size: 18px;

    box-sizing: border-box;
  }

  .page-main__upload-preface {
    width: $desktop-width;
    margin-top: 5px;
    margin-bottom: 66px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;

    box-sizing: border-box;
  }

  .page-main__form-preface {
    width: $desktop-width;
    margin-top: 92px;
    margin-bottom: 71px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 80px;

    box-sizing: border-box;
  }

  .page-main__form-suggest {
    display: inline;
  }
}
