.popup__container {
  display: none;
  padding-top: 38px;

  text-align: center;
  background-color: $section-initial-color;
  border-top: 2px solid $popup-border-top;
  box-shadow: 0 10px 35px -10px $box-shadow;
}

.popup__container--error {
  padding-bottom: 48px;
}

.popup__heading {
  display: block;
  margin-bottom: 26px;
  font-size: 18px;
}

.popup__button-wrapper {
  padding-top: 48px;
  padding-bottom: 52px;

  background-color: $section-main-color;
}

.popup__text {
  margin: 0;
  margin-bottom: 31px;
  padding: 0 20px;
}

.popup__text--error {
  margin-bottom: 38px;
}

.popup__container--visible {
  display: block;
  position: fixed;
  top: 100px;
  left: 0;

  width: 320px;
  z-index: 100;
}

.popup {
  display: none;
}

.popup--visible {
  display: block;
}

.popup::before {
  content: "";
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

@media (min-width: $tablet-width) {
  .popup__container--visible {
    top: 50px;
    left: 100px;

    width: 460px;
    box-sizing: border-box;
  }

  .popup__heading {
    padding: 0 100px;

    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  .popup__text {
    padding: 0 70px;
    margin-bottom: 38px;

    font-size: 18px;
    line-height: 24px;
  }

  .popup__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .popup__container--visible {
    top: 50px;
    left: 90px;

    width: 780px;
    box-sizing: border-box;
  }

  .popup__container--error-visible {
    width: 460px;
    left: 33%;
  }

  .popup__heading {
    padding: 0 180px;

    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  .popup__heading--error {
    padding: 0 100px;
  }

  .popup__text {
    padding: 0 180px;

    font-size: 18px;
    line-height: 24px;
  }

  .popup__text--error {
    padding: 0 70px;
  }

  .popup__button {
    width: 460px;
  }

  .popup__button--error {
    width: 300px;
  }
}
