.popup {
  padding: 20px 0;

  text-align: center;
}

.popup__heading {
  font-size: 18px;
}

.popup__button-wrapper {
  padding: 40px 20px;

  background-color: $section-main-color;
}

.popup__text {
  padding: 10px 20px;
}
