.price {
  position: relative;

  padding: 89px 0 45px 0;

  background-color: $section-main-color;
}

.price__wrapper {
  transform: translate(-260px);
}

.price__table {
  width: 840px;
  background-color: $section-initial-color;
  margin: 0 auto;

  border-collapse: collapse;
}

.price__aside,
.price__aside-head {
  display: none;
}

.price__head {
  padding: 16px 0 21px 0;

  background-color: $table-header-color;
}

.price__name {
  display: block;
  margin-bottom: 1px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $font-initial-color;
}

.price__value {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $font-initial-color;
}

.price__field {
  width: 280px;
  padding: 20px 15px 20px 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  border: 2px solid #e5e5e5;
}

.price__text {
  display: inline-block;
  width: 140px;
  margin-right: 50px;
}

.price__icon {
  display: inline-block;
}

.price__icon--check {
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

.price__icon--cross {
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 27px 27px;
}

@media (min-width: $tablet-width) {
  .price__wrapper {
    transform: translate(0);
  }

  .price__table {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .price__table {
    width: 940px;
  }
}
