.price {
  position: relative;

  padding: 90px 0 45px 0;

  background-color: $section-main-color;
}

.slider {
  overflow: hidden;
}

.price__wrapper {
  transform: translate(-260px);
}

.price__table {
  width: 840px;
  background-color: $section-init-color;
  margin: 0 auto;
}

.price__head {
  background-color: $table-header-color;
}

.price__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $font-init-color;
}

.price__value {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $font-init-color;
}

.price__field {
  width: 280px;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .price__wrapper {
    transform: translate(0);
  }

  .price__table {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .price__table {
    width: 940px;
  }
}
