.research {
  display: none;
  padding: 97px 20px 83px 330px;
}

.research__title {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 70px;

  font-size: 30px;
  line-height: 36px;
}

.research__description {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 10px;
}

.research__link {
  color: $link-accent-color;
  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .research {
    padding-top: 112px;
    padding-left: 497px;
    padding-right: 130px;
    padding-bottom: 114px;

    background-color: $section-main-color;
  }

  .research__title {
    margin-bottom: 21px;
  }

  .research__description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
