.reviews {
  position: relative;
  overflow: hidden;
  padding: 42px 0 87px 0;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1020px;
}

.reviews__item {
  width: 320px;
  margin: 0;
  padding: 0 20px 0 20px;

  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
}

.reviews__author-name {
  display: block;
  margin-bottom: 13px;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-information {
  display: none;
}

.reviews__text {
  margin: 0;
}

.reviews__toggle {
  display: none;
}

.reviews__controls {
  position: absolute;
  text-align: center;
  bottom: 35px;
  left: 123px;
}

.reviews__label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;

  background-color: $slider-circle-color;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.reviews__toggle:nth-child(1):checked ~ .reviews__controls label[for="reviwes-petrov"],
.reviews__toggle:nth-child(2):checked ~ .reviews__controls label[for="reviwes-maizel"],
.reviews__toggle:nth-child(3):checked ~ .reviews__controls label[for="reviwes-korbain"] {
  border: 3px solid $slider-border-color;
  background-color: $section-initial-color;
}

.reviews__toggle:nth-child(1):checked ~ .reviews__slider .reviews__list {
  transform: translate(0px);
}

.reviews__toggle:nth-child(2):checked ~ .reviews__slider .reviews__list {
  transform: translate(-350px);
}

.reviews__toggle:nth-child(3):checked ~ .reviews__slider .reviews__list {
  transform: translate(-700px);
}

.reviews__button-left,
.reviews__button-right {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 68px;
  }

  .reviews__list {
    width: 1980px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;

    width: 660px;
  }

  .reviews__text {
    font-size: 18px;
    order: -1;
    margin-bottom: 35px;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__author-information {
    display: inline;
    font-size: 14px;
    line-height: 30px
  }

  .reviews__controls {
    bottom: 15px;
    left: 293px;
  }

  .reviews__toggle:nth-child(1):checked ~ .reviews__slider .reviews__list {
    transform: translate(0px);
  }

  .reviews__toggle:nth-child(2):checked ~ .reviews__slider .reviews__list {
    transform: translate(-660px);
  }

  .reviews__toggle:nth-child(3):checked ~ .reviews__slider .reviews__list {
    transform: translate(-1320px);
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    display: flex;
    width: 940px;
    padding: 185px 130px 41px 130px;
  }

  .reviews__list {
    display: block;
    width: auto;
  }

  .reviews__item {
    width: 700px;
    padding: 0;
    margin-left: 95px;
  }

  .reviews__item:nth-child(2),
  .reviews__item:nth-child(3) {
    display: none;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-information {
    font-size: 18px;
  }

  .reviews__controls {
    display: none;
  }

  .reviews__toggle:nth-child(2):checked ~ .reviews__slider .reviews__list,
  .reviews__toggle:nth-child(3):checked ~ .reviews__slider .reviews__list {
    transform: translate(0);
  }

  .reviews__button-left {
    position: relative;
    display: block;
    width: 25px;
    height: 100px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .reviews__button-right {
    position: relative;
    display: block;
    width: 25px;
    height: 100px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    outline: none;
  }


  .reviews__button-left::before {
    content: "";
    position: absolute;
    top: 35px;
    left: -5px;

    width: 30px;
    height: 2px;

    background-color: $slider-arrows-color;
  }

  .reviews__button-left::after {
    content: "";
    position: absolute;
    top: 55px;
    left: -5px;

    width: 30px;
    height: 2px;

    background-color: $slider-arrows-color;
  }

  .reviews__button-left::before {
    transform: rotate(-45deg);
  }

  .reviews__button-left::after {
    transform: rotate(45deg);
  }

  .reviews__button-left:hover::before,
  .reviews__button-left:hover::after {
    background-color: $slider-arrows-hover;
  }

  .reviews__button-left:active::before,
  .reviews__button-left:active::after {
    background-color: $slider-arrows-active;
  }

  .reviews__button-right::before {
    content: "";
    position: absolute;
    top: 35px;
    left: -3px;

    width: 30px;
    height: 2px;

    background-color: $slider-arrows-color;
  }

  .reviews__button-right::after {
    content: "";
    position: absolute;
    top: 55px;
    left: -3px;

    width: 30px;
    height: 2px;

    background-color: $slider-arrows-color;
  }

  .reviews__button-right::before {
    transform: rotate(45deg);
  }

  .reviews__button-right::after {
    transform: rotate(-45deg);
  }

  .reviews__button-right:hover::before,
  .reviews__button-right:hover::after {
    background-color: $slider-arrows-hover;
  }

  .reviews__button-right:active::before,
  .reviews__button-right:active::after {
    background-color: $slider-arrows-active;
  }

  .reviews__quotes {
    display: none;
  }
}
