.reviews {
  position: relative;
  overflow: hidden;
  padding: 42px 0 42px 0;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews__item {
  width: 320px;
  margin: 0;
  padding: 0 20px 0 20px;

  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
}

.reviews__author-name {
  display: block;
  margin-bottom: 13px;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-information {
  display: none;
}

.reviews__text {
  margin: 0;
  margin-bottom: 21px;
}

.reviews__toggles {
  margin-left: 2px;
  text-align: center;
}

.reviews__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 21px;
  }

  .reviews__list {
    width: 1980px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;

    width: 660px;
  }

  .reviews__text {
    font-size: 18px;
    order: -1;
    margin-bottom: 35px;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__author-information {
    display: inline;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    display: flex;
    width: $desktop-width;
    padding: 185px 10px 19px 10px;
    margin: 0 auto;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 443px;
    background-position-y: 71px;

    box-sizing: border-box;
  }

  .reviews__list {
    display: block;
    width: auto;
  }

  .reviews__item {
    width: 700px;
    padding: 0;
    margin-left: 98px;
  }

  .reviews__item:nth-child(2),
  .reviews__item:nth-child(3) {
    display: none;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-information {
    font-size: 18px;
  }

  .reviews__button {
    display: block;
    padding: 0;
    width: 25px;
    height: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  .reviews__button--right {
    margin-left: 100px;
  }

  .reviews__button-image {
    width: 21.706px;
    height: 41.719px;
    fill: $slider-circle-color;
  }

  .reviews__button:hover .reviews__button-image {
    fill: $slider-arrows-hover;
  }

  .reviews__button:active .reviews__button-image {
    fill: $slider-arrows-active;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__quotes {
    display: none;
  }
}
