.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  display: block;
  padding: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $font-initial-color;
  text-transform: uppercase;

  border-bottom: 1px solid $menu-border-bottom;
  border-top: 1px solid $menu-border-top;
  background-color: $menu-main-color;
}

.site-list__link[href]:hover {
  color: $menu-hover-color;
}

.site-list__link[href]:active {
  color: $menu-active-color;
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__link {
    padding: 15px 0;
    margin-left: 80px;

    font-weight: 400;
    line-height: 18px;
    color: $font-initial-color;
    text-transform: none;

    border: none;
    background-color: transparent;
  }

  .site-list__link--active {
    position: relative;
  }

  .site-list__link--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;

    height: 2px;

    background-color: $menu-initial-color;
  }
}
