.slider {
  overflow: hidden;
}

.slider__list {
  display: flex;
  width: 300%;
}

.slider__toggle {
  display: none;
}

.slider__controls {
  position: absolute;
  text-align: center;
}

.slider__label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;

  background-color: $slider-circle-color;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"] {
    border: 3px solid $slider-border-color;
    background-color: $section-initial-color;
}

#btn-1:checked ~ .slider .slider__list {
  transform: translate(0);
}

#btn-2:checked ~ .slider .slider__list {
  transform: translate(-280px);
}

#btn-3:checked ~ .slider .slider__list {
  transform: translate(-560px);
}
