.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 177px;
  padding: 10px 0;

  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: 3px solid $social-border-color;
  fill: $accent-color;
}

@media (min-width: $tablet-width) {
  .social {
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;

 width: 8px;
  height: 18.944px
}*/
