.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 177px;
  padding: 15px 0 10px 10px;

  list-style: none;
}

.social__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: 3px solid $social-color;
}

.social__image {
  fill: $accent-color;
}

.social__link:active .social__image {
  fill: $accent-color;
  opacity: 0.3;
}

.social__link:hover {
  border-color: $social-hover-color;
}

.social__link:active {
  border-color: $social-color;
}
