.upload__wrapper {
  padding: 20px;

  border-bottom: 1px solid $upload-border-color;
}

.upload__button-wrapper {
  padding: 40px 20px;
}

.upload__button {
  margin-bottom: 12px;

  color: $link-disabled-color;

  background-color: transparent;
  border-color: $upload-border-color;
}

.upload__button--color {
  color: $link-accent-color;

  border-color: $link-accent-color;
}
