.upload {
  padding: 20px;
}

.upload__wrapper {
  border-bottom: 1px solid $upload-border-color;
}

.upload__button {
  margin-bottom: 12px;

  color: $link-disabled-color;

  background-color: transparent;
  border-color: $upload-border-color;
}

.upload__button--color {
  color: $link-accent-color;

  border-color: $link-accent-color;
}

@media (min-width: $tablet-width) {
  .upload {
    display: flex;
    justify-content: space-between;
  }

  .upload__wrapper {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .upload__list {
    display: flex;
    flex-direction: column;
  }

  .controls {
    display: flex;
    flex-direction: column;
  }

  .upload__button-wrapper {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    padding: 60px 70px;
  }

  .upload__wrapper {
    width: 410px;
  }

  .upload__button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .upload__button {
    width: 183px;
  }
}
